@switch (kind()) {
  @case ('underline') {
    <svg class="doodle" viewBox="0 0 148 16" fill="none" preserveAspectRatio="none" aria-hidden="true">
      <path #stroke d="M3 10C26 4 50 13 74 8s45 4 71-3" stroke-width="3.2" stroke-linecap="round" />
    </svg>
  }
  @case ('arrow') {
    <svg class="doodle" viewBox="0 0 92 74" fill="none" aria-hidden="true">
      <path #stroke d="M7 8C11 36 32 57 66 61" stroke-width="3" stroke-linecap="round" />
      <path #stroke d="M66 61l-16 3M66 61l-4-15" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  }
  @case ('sparkle') {
    <svg class="doodle" viewBox="0 0 46 46" fill="none" aria-hidden="true">
      <path #stroke d="M23 4C24.5 15 31 21.5 42 23 31 24.5 24.5 31 23 42 21.5 31 15 24.5 4 23 15 21.5 21.5 15 23 4Z" stroke-width="2.6" stroke-linejoin="round" />
    </svg>
  }
  @case ('circle') {
    <svg class="doodle" viewBox="0 0 224 122" fill="none" aria-hidden="true">
      <path #stroke d="M156 15C64 1 10 41 22 72c11 30 122 44 182 19 41-17 30-61-31-73" stroke-width="3.2" stroke-linecap="round" />
    </svg>
  }
  @case ('squiggle') {
    <svg class="doodle" viewBox="0 0 120 20" fill="none" preserveAspectRatio="none" aria-hidden="true">
      <path #stroke d="M4 12c8-10 16 8 24-2s16 8 24-2 16 8 24-2 16 8 20 4" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  }
}
