<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
  I'm currently a Software Engineer at
  <a class="underline-link" href="https://tarktech.com/" target="_blank">Decos</a>, building innovative web solutions with some awesome people. I graduated in computer engineering from
  <a class="underline-link" href="https://vvpedulink.ac.in/" target="_blank">VVP Engineering College</a>.
</p>
<p>
  <strong>When I'm not in front of a computer screen</strong>, I'm probably traveling, playing guitar,
  or crossing off another item on my bucket list.
</p>


    <!-- {% include employment-status.html %} -->
  </div>
</section>
